*{

    padding: 0%;
    margin: 0%;
}

@media (max-width: 768px) {
    #titulo {
        font-size: 20px;
    }

    nav {
        font-size: 16px;
    }

    #tarjetas .card {
        width: 55%;
        margin: 2%;
    }
    .card img {
        max-width: 80%;
          height: auto; 
          margin: 2%;  
    }
}

@media (max-width: 480px) {
    #titulo {
        font-size: 6px;
        width: 50%;
        height: 6vh;
    }

    nav {
        font-size: 6px;
    }

    #tarjetas .card {
        width: 75%;
        margin: 2%
    }
    .card img {
        max-width: 70%;
        margin: 2%;  
    }
}

#titulo {
    color: rgb(150, 94, 240);
    font-size: 25px;
    margin: 1%;
    height: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    color: burlywood;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    font-size: 20px;
    background-image: url('fondo-espacial-polvo-estrellas-estrellas-brillantes-cosmos-colorido-realista-nebulosa-via-lactea_1258-150932.avif');
    background-size: cover; 
    background-repeat: no-repeat; 
}

#tarjetas {
   background-color: rgb(255, 255, 255);
   display: flex;
   flex-wrap: wrap;
}

.card{
    border: solid 2px black;
    width: 22%;
    margin: 1%;
    color: solid white;
}

.card:hover {
   background-color: black;
   color: rgb(216, 255, 179);
   -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
   transform: scale(1.05);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card img {
    max-width: 100%;
      height: auto;   
}

.card:hover img {
    filter: grayscale(100%);
    box-shadow: 2%;
}

.card,.card img {
    transition: transform 0.3s ease;
}

footer {
    background-color:  black;
    color: white;
    margin-top: 3% ;
    padding: 2%;
}

main section {
      display: flex;
      flex-direction: column;
      align-items: center;
}

#persTotal {
    margin: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#volverArribaBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 99;
    margin-right: 20px;
    font-size: 24px;
    border-radius: 15%;
  }

#volverArribaBtn:hover {
     -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
     -ms-transform: scale(1.05);
     -o-transform: scale(1.05);
     transform: scale(1.05);
}

#aant {
    font-size: 25px;
    border-radius: 15%;
    background-color: #c494e0;
  }

#ant {
    font-size: 25px;
    border-radius: 15%;
    background-color: #c494e0;
  }

#post {
    font-size: 25px;
    border-radius: 15%;
    background-color: #c494e0;
  }

#ppost {
    font-size: 25px;
    border-radius: 15%;
    background-color: #c494e0;
  }
  
footer {
    background-image: url('fondo-espacial-polvo-estrellas-estrellas-brillantes-cosmos-colorido-realista-nebulosa-via-lactea_1258-150932.avif'); 
  background-repeat: no-repeat; 
}

#aant:hover {
    -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
   transform: scale(1.05);
}

#ant:hover {
    -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
   transform: scale(1.05);
}

#post:hover {
    -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
   transform: scale(1.05);
}

#ppost:hover {
    -webkit-transform: scale(1.05);
   -moz-transform: scale(1.05);
   -ms-transform: scale(1.05);
   -o-transform: scale(1.05);
   transform: scale(1.05);
}